[Desktop Entry]
Type=Application
Exec=../../../Gifer
Name=Gifer
GenericName=Gifer Application
Icon=logo.ico
Terminal=false
Categories=Development;Qt;
MimeType=text/x-c++src;text/x-c++hdr;text/x-xsrc;application/x-designer;application/vnd.qt.qmakeprofile;application/vnd.qt.xml.resource;text/x-qml;text/x-qt.qml;text/x-qt.qbs;
